# .env.example
# Copy this file to a new file named '.env' and fill in your local path
# All paths must be absolute paths. Relative paths are not supported.
MCP_FS_ROOT_DIR=/home/user....(It must be an absolute path)
MCP_FS_PRIVATE_DIR=??(The folder where files are excluded from service. You can specify arbitarily while it's recommended to put it directly under the root path and named it as '.private'. )
MCP_FS_DB_FILE=?? (The checksum database file that will be managed by SQLite (normally with extension ".sqlite"). You can specify a path under the private directory.)